<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.boardsj.mappers.BoardMapper">

    <!--  목록  -->
<select id="boardList" parameterType="com.example.boardsj.dto.BoardDTO" resultType="com.example.boardsj.dto.BoardDTO">

select * from tbl_board b
where bno > 0
   <if test="keyword != null and types != null">
      <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="type" separator=" or ">
          <if test='type == "t"'>
            b.title like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "c"'>
            b.content like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "w"'>
            b.writer like concat('%', #{keyword}, '%')
          </if>
        </foreach>
      </trim>
    </if>
order by bno desc
limit #{skip} , #{size}

</select>

    <!--  게시판 next버튼을 위한 total  -->
<!-- total -->
<select id="total">

    select count(*)
    from
    (select bno from tbl_board b
    where bno > 0
       <if test="keyword != null and types != null">
      <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="type" separator=" or ">
          <if test='type == "t"'>
            b.title like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "c"'>
            b.content like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "w"'>
            b.writer like concat('%', #{keyword}, '%')
          </if>
        </foreach>
      </trim>
    </if>
    limit #{countEnd}) board

</select>

    <!--  등록  -->
    <insert id="regist">
        insert into tbl_board(title, content, writer)
        values (#{title}, #{content}, #{writer})
        <selectKey resultType="long" keyProperty="bno" order="AFTER">
            select last_insert_id()
        </selectKey> <!-- 몇 번으로 등록 되었는 지 확인하기 위해 사용(최근 등록 된 번호(마지막 값) 찾는 것)-->
    </insert>

    <!--  조회  -->
    <select id="read" resultType="com.example.boardsj.dto.BoardDTO">
        select * from tbl_board
        where bno =#{bno}
    </select>

    <!--  삭제  -->
    <delete id="delete">
        delete from tbl_board
        where bno = #{bno}
    </delete>

    <!--  수정  -->
    <update id="modify">
        update tbl_board set title = #{title}, content = #{content}, updateDate = now()
        where bno = #{bno}
    </update>
    
</mapper>