<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/boardLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>List Page</title>
</head>
<body>


<div layout:fragment="content">
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">LIST</h6>
            </div>
            <form class="list" method="get" action="/board/list">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered boardTable" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>tno</th>
                                <th>title</th>
                                <th>writer</th>
                                <th>regDate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="list: ${boardList}">
                                <td th:text="${list.tno}" th:data-tno="${list.tno}"></td>
                                <td th:text="${list.title}" th:data-tno="${list.tno}"></td>
                                <td th:text="${list.writer}" th:data-tno="${list.tno}"></td>
                                <td th:text="${list.regDate}" th:data-tno="${list.tno}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-toolbar" role="toolbar" style="justify-content: center;">
                        <!--/*  paging  */-->
                        <div class="btn-group me-2 paging" role="group" aria-label="First group"></div>
                    </div>
                    <a href="/board/regist" class="btn btn-primary">Register</a>
                    <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
                    <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                </div>
            </form>
        </div>

    </div>
    <script src="/js/paging.js"></script>
    <!-- /.container-fluid -->
</div>

<script layout:fragment="script" th:inline="javascript">

    const board = document.querySelector(".boardTable")

    const paging = document.querySelector(".paging")

    const pageObj = document.querySelector("input[name=page]")

    // page,size 값 구조분해 할당
    const {page,size} = [[${pageRequestDTO}]]

    // total 값 구조분해 할당
    const {total} =[[${boardlist}]]

    // paging 동적으로 생성
    const pageList = makePages(page, size, total)
    paging.innerHTML = pageList

    const actionForm = document.querySelector(".list")

    // paging 이동버튼
    paging.addEventListener("click", (e) => {

        // 이벤트 생성시 기본 설정 메서드
        e.preventDefault() // 브라우저의 기본 동작을 막고, 자바스크립트에서 지정한 동작만 실행
        e.stopPropagation() // 부모(상위) 요소들로 이벤트가 전파되는 버블링현상을 막아줌

        // target 찾기
        const target = e.target

        // paging 번호 가져오기
        const pageNum = target.getAttribute("href")

        // page값 넘겨주기
        pageObj.value = pageNum

        // actionForm submit
        actionForm.setAttribute("action", "/board/list")
        actionForm.submit()

    }, false)// 캡처링

    // 게시판 상세페이지로 이동(조회)
    board.addEventListener("click", (e) => {

        e.preventDefault()
        e.stopPropagation()

        console.log(e.target)

        const target = e.target

        const tno = target.getAttribute("data-tno")

        console.log("tno: " + tno)

        actionForm.setAttribute("action", `/board/read/${tno}`)
        actionForm.submit()

    },false)

</script>


</body>
</html>
