<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/boardLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>List Page</title>
</head>
<body>


<div layout:fragment="content">
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">LIST</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>tno</th>
                            <th>title</th>
                            <th>writer</th>
                            <th>regDate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="list: ${boardList}">
                            <td th:text="${list.tno}"></td>
                            <td th:text="${list.title}"></td>
                            <td th:text="${list.writer}"></td>
                            <td th:text="${list.regDate}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a href="/board/regist" class="btn btn-primary">Register</a>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>


</body>
</html>
